<div class = "container mt-5">
  <h1>My tasks</h1>

  <ul id="tasks">
    <% @tasks.each do |task| %>
      <li>
         <% if task.completed? %>
          <i class="fa-regular fa-square-check"></i>
        <% else %>
          <i class="fa-regular fa-square"></i>
        <% end %>
        <%= link_to task.title, task_path(task.id) %>
        <%= link_to "Delete", task_path(task.id),
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
          <i class="fa-regular fa-trash-can"></i>
        <% end %>
        </li>
    <% end %>
  </ul>

  <hr>

  <div class="fa-solid fa-plus">
    <%= link_to "Add a new task", new_task_path %>
  </div>
</div>
